.titles {
    display: flex;
    flex-direction: column;
    align-items: center;

    .t-holder {
        display: flex;
    }
    .t-image {
        width: 44px;
        height: 44px;
    }
    .welcome-title {
        font-size: 3rem;
    }
    .sub-title {
        font-size: 2rem;
    }

    .login-signup-page {
        margin-top: 50px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

.timer {
    display: flex;
}

.signup-login-form {
    margin-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
